@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgrey;
    margin: 0px;
}
header{
    background-color: whitesmoke;
    padding: 10px;
    margin: 0px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
    

}
nav > a{
    border:solid  3px;
    padding: 2PX;
    text-decoration:none;
    color: black;
    box-shadow: 2px 2px 4px gray;
}
nav > a:hover{
    background-color: red;
    border: solid 5px;
    padding: 4px;
    box-shadow: 3px 3px 5px gray;
}
h1{
    text-align: center;
    width: 100%;

}
nav{
    width: 100%;
    text-align: center;
    
}
footer{
    background-color:black;
    color: aliceblue;
    text-align: center;
    width: 100%;
}
main{
    background-color: white;
    
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 5px inset;
}
body > div{
    height: 100px;
    width: 100px;
    background-color: black;
    border-radius: 50px;
    /*margin: 10px;*/
    margin:auto;
}
article>h1{
    color: red;
    text-align: center;
    text-decoration: underline;
    
}
